  <div class="col-10 offset-1 about">
     <h1>About Splurty</h1>

       <p>
          Splurty was built by <a target="_blank" href="https://github.com/RaqueleCrotti">Raquele</a>. A web developer who is passionate about writing solid code, creating clean responsive web applications and having a good laugh.
       </p>
       <br />
        
        

       <div class="row">
         <div class="col-12 col-sm-4">
           <%= image_tag 'self.jpg', class: 'img-fluid' %>
         </div>

         <div class="col-12 col-sm-7 offset-sm-1">
           <h2 class="text-center">Raquele Crotti</h2>
           <br />
           <p>
        Raquele Crotti has taken a deep dive into web development with the UC Berkeley Extension Coding Program and is ecstatic to learn more every day. In a previous life Raquele obtained her bachelors degree in psychology and spent several years working with children who have special needs. She is now a joyful mother of a beautiful baby boy.
           </p>
         </div>
       </div>
  <br class="clear" />
  <br />
  <br />
  <br />
  <br />

  


  </div>